<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/front/header" %>
  </head>

  <body>
    <div id="wrapper">
      <div id="header">
        <div class="left_column">
          <div id="logo">
            <%= link_to "rubiodemarzo", root_path %>
          </div>
        </div>

        <div class="rigth_column">
          <%= render "layouts/front/menu" %>
        </div>

      </div>
      <div id="content" class="container">
        <%= yield %>
      </div>
    </div>

    <%= render "layouts/front/footer" %>
    <%= render "shared/analytics" %>
  </body>
</html>

